# Environment
.env
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
nul

# Temporary files
*.tmp
*.bak

# Build
dist/
build/

# Other
ql -h localhost -U quiz_user -d quiz_bot -c %22
